<div>
    <label>New Task:
        <input #chapterNumber />
        <input #pageNumber />
        <input [ngModel]="dueDate" type="date" name="dueDate" #dueDate/>
.    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="addNewTask(chapterNumber.value, pageNumber.value, dueDate.value);">
        add
    </button>
</div>

<table>
    <thead>
        <th>Chapter Number</th>
        <th>Page Number</th>
        <th>Due Date</th>
        <th>Completed</th>
        <th>User</th>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks; index as i;">
            <td>{{task.chapterNumber}}</td>
            <td>{{task.pageNumber}}</td>
            <td>{{task.dueDate}}</td>
            <td>{{task.isComplete}}</td>
            <td>{{task.userName}}</td>
            <button (click)="updateTaskToComplete(i)">complete</button>
        </tr>
    </tbody>
</table>